# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
H5Debug/.idea/.name
H5Debug/.idea/compiler.xml
H5Debug/.idea/copyright/profiles_settings.xml
H5Debug/.idea/encodings.xml
H5Debug/.idea/gradle.xml
H5Debug/.idea/misc.xml
H5Debug/.idea/modules.xml
H5Debug/.idea/runConfigurations.xml
H5Debug/.idea/vcs.xml
